<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.partsilicon.partsiliconlib">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />



    <application>
        <activity android:name=".ReferalCodeActivity"
            android:theme="@style/AppTheme.Dialog"></activity>
        <activity
            android:name=".notification.NotifListActivity"
            android:label="@string/title_activity_notif_list"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".FeedBackActivity"
            android:theme="@style/AppTheme.Dialog"></activity>

        <service
            android:name=".services.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>